<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [29]:
import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [30]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [31]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [32]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [33]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [34]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [35]:
# your code goes here
duplicate_rows = df.duplicated().sum()
print(duplicate_rows)

154

In [36]:
(df['Respondent'].value_counts() > 1).sum()

93

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [37]:
# your code goes here
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [38]:
# your code goes here
df.duplicated().sum()

0

In [39]:
df.shape[0]

11398

In [40]:
df['EdLevel'].isnull().sum()

112

In [41]:
df['Country'].isnull().sum()

0

## Finding Missing values

Find the missing values for all columns.

In [48]:
# your code goes here
# Assuming df is your DataFrame

missing_values = df.isnull()

print(missing_values)

       Respondent  MainBranch  Hobbyist  OpenSourcer  OpenSource  Employment  \
0           False       False     False        False       False       False
1           False       False     False        False       False       False
2           False       False     False        False       False       False
3           False       False     False        False       False       False
4           False       False     False        False       False       False
...           ...         ...       ...          ...         ...         ...
11547       False       False     False        False       False       False
11548       False       False     False        False       False       False
11549       False       False     False        False       False       False
11550       False       False     False        False       False       False
11551       False       False     False        False       False       False

       Country  Student  EdLevel  UndergradMajor  ...  WelcomeChange  \
0        False    False    False           False  ...          False
1        False    False    False           False  ...          False
2        False    False    False           False  ...          False
3        False    False    False            True  ...          False
4        False    False    False           False  ...          False
...        ...      ...      ...             ...  ...            ...
11547    False    False    False           False  ...          False
11548    False    False    False           False  ...          False
11549    False    False    False           False  ...          False
11550    False    False    False            True  ...          False
11551    False    False    False           False  ...          False

       SONewContent    Age  Gender  Trans  Sexuality  Ethnicity  Dependents  \
0             False  False   False  False      False      False       False
1              True  False   False  False      False      False       False
2             False  False   False  False      False      False       False
3             False  False   False  False      False      False       False
4             False  False   False  False      False      False       False
...             ...    ...     ...    ...        ...        ...         ...
11547         False  False   False  False      False      False       False
11548         False  False   False  False      False      False       False
11549         False  False   False  False      False      False       False
11550          True  False   False  False      False      False       False
11551         False  False   False  False      False      False       False

       SurveyLength  SurveyEase
0             False       False
1             False       False
2             False       False
3             False       False
4             False       False
...             ...         ...
11547         False       False
11548         False       False
11549         False       False
11550         False       False
11551         False       False

[11398 rows x 85 columns]

Find out how many rows are missing in the column 'WorkLoc'

In [49]:
# your code goes here
missing_values['WorkLoc'].sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [50]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [51]:
#make a note of the majority value here, for future reference
majority_workloc = df['WorkLoc'].value_counts().idxmax()

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [52]:
# your code goes here
df.loc[df['WorkLoc'].isnull(), 'WorkLoc'] = majority_workloc

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [53]:
# your code goes here
df['WorkLoc'].isnull().sum()

0

In [54]:
df['Employment'].value_counts().idxmax()

'Employed full-time'

In [55]:
df['UndergradMajor'].value_counts().sort_values()

A health science (ex. nursing, pharmacy, radiology)                        24
I never declared a major                                                  124
Fine arts or performing arts (ex. graphic design, music, studio art)      161
A humanities discipline (ex. literature, history, philosophy)             207
A social science (ex. anthropology, psychology, political science)        210
A business discipline (ex. accounting, finance, marketing)                244
Mathematics or statistics                                                 372
A natural science (ex. biology, chemistry, physics)                       403
Web development or web design                                             410
Another engineering discipline (ex. civil, electrical, mechanical)        759
Information systems, information technology, or system administration     794
Computer science, computer engineering, or software engineering          6953
Name: UndergradMajor, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [56]:
# your code goes here
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [57]:
df['NormalizedAnnualCompensation'] = 0

df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation'] = df.loc[df['CompFreq'] == 'Yearly', 'CompTotal']
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = df.loc[df['CompFreq'] == 'Monthly', 'CompTotal']*12
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation'] = df.loc[df['CompFreq'] == 'Weekly', 'CompTotal']*52

df['NormalizedAnnualCompensation'].value_counts()

60000.0     241
0.0         215
120000.0    170
70000.0     169
90000.0     156
           ...
141994.0      1
133332.0      1
9012.0        1
407400.0      1
272760.0      1
Name: NormalizedAnnualCompensation, Length: 1731, dtype: int64

In [58]:
df['NormalizedAnnualCompensation'].median()

98000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).